<div class="container-list">

    <h2>Coffeeshops</h2>

    <hr>

    <ul>
        {{#each coffees}}
        <li class="coffees-list">
            <a href="/coffees/{{id}}">{{name}} | {{image}}</a>



        </li>
        {{/each}}
    </ul>



    <a href="/" class="btn btn-dark">Back to Home page</a>

</div>