<div class="container-list">

    <h2>Coffeeshops</h2>

    <hr>

    <ul>
        {{#each coffees}}
        <li class="coffees-list">
            <a href="/coffees/{{id}}">{{name}} | {{image}}</a>
        </li>
        {{/each}}
    </ul>

    <a href="/" class="btn btn-dark">Back to Home page</a>

</div>

{{!-- Google Maps --}}

<figure id="coffeesMap"></figure>

<a href="/api/coffees" target="_blank">Mira la API!</a>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="./../js/coffees-map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbHBgxM7Yx1HVvbifq4i0oq-1qIFnXSeY
&callback=initMap"></script>