<div class="container pt-3">
    <h1 class="d-flex justify-content-center">Coffeeshoppers! | The Community</h1>
    <hr>
    <h3 class="d-flex justify-content-center mb-3">Discover the favorite work-places of other Coffeeshoppers!</h3>
    <div class="row">

        {{#each user}}
        <div class="col-md-4 mb-5 d-flex justify-content-center">
            <div class="card bg-white" style="width: 18rem;">
                <img class="" src="{{avatar}}" class="card-img-top" alt="{{username}}">
                <div class="card-body">
                    <a class="btn btn-secondary d-flex justify-content-center mb-1 btn-lg"
                        href="/users/{{id}}">{{username}}
                        <br> Check Profile!</a>
                </div>
            </div>
        </div>
        {{/each}}

        <div class="d-flex justify-content-center">
            <a href="/" class="btn btn-dark mb-1 btn-md">Home</a>
        </div>
    </div>
</div>